.commentContainer{
    display: flex;
    flex-direction: column;
    width: 650px;
    border: #343536 solid 1px;
    background-color: #1a1a1b;
    padding-bottom: 10px;
}

.commentInfn{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.commentText{
    min-height: 50px;
    /* width: 650px; */
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 5px;
    padding-left: 20px;

    text-align: left;
}

.replying_to{
    display: flex;
    column-gap: 5px;
}

.commentOptions{
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding-left: 20px;
}

.replyToComment{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    display: flex;
    column-gap: 10px;
}

.commentInfn .profileImg{
    border: none;
    border-radius: 50%;
}

.commentInfn .posted_date{
    opacity: 0.7;
}


.upvoteComment {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.upvoted{
    background-image: url('../Assets/Icons/upvoted.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.upvote{
    background-image: url('../Assets/Icons/upvote.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.upvoteComment:hover{
    background-image: url('../Assets/Icons/upvote-hover.png');
}

.downvoteComment{
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.downvoted{
    background-image: url('../Assets/Icons/downvoted.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.downvote{
    background-image: url('../Assets/Icons/downvote.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.downvoteComment:hover{
    background-image: url('../Assets/Icons/downvote-hover.png');
}



